Flask==0.10.1
GitPython==0.3.2.RC1
Jinja2==2.7
MarkupSafe==0.18
Werkzeug==0.9.1
argparse==1.2.1
async==0.6.1
distribute==0.6.24
docker-py==0.0.4
gitdb==0.5.4
itsdangerous==0.21
requests==1.2.3
smmap==0.8.2
wsgiref==0.1.2
